.endPoint {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
}

.startPoint {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
}
